<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Alex Dehe Ng</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/css/materialdesignicons.min.css"/>
  </head>

  <body ng-app="starterApp" layout="row" ng-controller="ContentController as contentCtrl">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-whiteframe-z1">
        <h1>Alex Dehe Ng</h1>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="title in contentCtrl.titles">
          <md-button ng-click="contentCtrl.selectContent($index)" ng-class="{'selected' : it === contentCtrl.selected }">
            <i ng-class="title.icon"></i>{{title.name | uppercase}}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-md ng-click="contentCtrl.toggleList()" aria-label="Show Content List">
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>{{contentCtrl.selected.name | uppercase}}</h1>
      </md-toolbar>

      <md-content flex id="content">
        <div ui-view></div>
      </md-content>

    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="./src/users/app.js"></script>
    <script src="./src/users/ContentController.js"></script>

    <script type="text/javascript">
      angular
        .module('starterApp', ['ngMaterial', 'Content'])
        .config(function($mdThemingProvider, $mdIconProvider, $stateProvider, $urlRouterProvider) {

        $mdIconProvider
          .icon("menu"       , "./assets/svg/menu.svg"        , 24)
          .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
          .icon("mail"       , "./assets/svg/mail.svg"        , 512)
          .icon("phone"      , "./assets/svg/phone.svg"       , 512);

        $mdThemingProvider.theme('default')
          .primaryPalette('cyan')
          .accentPalette('pink');

        $urlRouterProvider.otherwise("/profile");

        $stateProvider
        .state('profile', {
          url: "/profile",
          templateUrl: "./templates/profile.html",
          controller: function($scope) {
            $scope.ionicUrl = "http://ionicframework.com/";
          }
        })
        .state('experience', {
          url: "/experience",
          templateUrl: "./templates/experience.html",
          controller: function($scope) {
            $scope.smithUrl = 'http://www.smithweb.com';
            $scope.nectoUrl = 'http://nsquareapp.com';
            $scope.socialGearAppUrl = 'https://itunes.apple.com/us/app/socialgear/id824071826?mt=8';
          }
        })
        .state('projects', {
          url: "/projects",
          templateUrl: "./templates/projects.html",
          controller: function($scope) {
            $scope.austinRecyclingUrl = "https://play.google.com/store/apps/details?id=com.aelx311.app.austinrecycling";
            $scope.austinRecyclingGitHubUrl = "http://aelx311.github.io/austin_recycling";
          }
        })
        .state('skills', {
          url: "/skills",
          templateUrl: "./templates/skills.html"
        })
        .state('education', {
          url: "/education",
          templateUrl: "./templates/education.html"
        })
        .state('resume', {
          url: "/resume",
          templateUrl: "./templates/resume.html",
          controller: function($scope) {
            $scope.downloadResume = function() {
              window.location.href = './assets/resume_bw_border.pdf';
            };
          }
        });
      });
    </script>

  </body>
</html>
