<md-card>
  <md-card-content>
    <div layout="row" layout-align="left" layout-padding>
      <a href="http://www.utexas.edu/" target="_blank">
        <img src="../assets/ut.png" style="max-height: 147px;" title="http://www.utexas.edu/"/>
      </a>
      <div layout="column" layout-align="center start" layout-padding>
        <p>Bachelor of Science in Computer Science</p>
        <p>January 2011 - December 2013</p>
      </div>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <div layout="row" layout-align="left" layout-padding>
      <a href="http://www.tarc.edu.my/" target="_blank" title="http://www.tarc.edu.my/">
        <img src="../assets/tarc.png"/>
      </a>
      <div layout="column" layout-align="center start" layout-padding>
        <p>Diploma in Science &#40;Information Systems Engineering&#41;</p>
        <p>May 2008 - May 2010</p>
      </div>
    </div>
  </md-card-content>
</md-card>