<md-content class="experience">
  <span class="title">Software Engineer at Kronos Inc | Houston, TX</span><br>
  <md-button class="md-raised md-accent" ng-href="{{kronosUrl}}" target="_blank">www.kronos.com</md-button>
  <p>Apr 2017 - Present</p>
  <p>Kronos Incorporated provides cloud-based human capital management and workforce management solutions. The company’s Kronos HCM unified platform offers a suite of tools that integrate HR, time and attendance, payroll, scheduling, and more for managing and nurturing workforce. It also provides implementation, optimization, and managed services. The company offers solutions for business services, education, energy, financial services, government, healthcare, hospitality, logistics, manufacturing, public safety, and retail industries.</p>

  <ul>
    <li>Involve in designing and developing Scheduler module in Workforce Ready Suite.</li>
  </ul>
</md-content>
<md-divider layout-padding></md-divider>

<md-content class="experience">
  <span class="title">Software Developer at Smith &amp; Associates | Houston, TX</span><br>
  <md-button class="md-raised md-accent" ng-href="{{smithUrl}}" target="_blank">www.smithweb.com</md-button>
  <p>May 2014 - Mar 2017</p>
  <p>Smith and Associates helps customers to get the parts they need. Major manufacturers turn to Smith and Associates when the demand for their products leaves them without enough vital components for production, or when obsolescence or shortage makes getting needed parts a challenge.</p>

  <ul>
    <li>Implemented new features and maintained in-house software applications that manage customers, sales and inventory.</li>
    <li>Developed in-house Customer Relationship Management(CRM) hybrid mobile application for salespersons to help manage their customers and submit requirements.
    </li>
    <li>Developed custom chat client to be integrated to CRM using Cisco Jabber SDK.</li>
    <li>Designed and developed RESTful APIs to be used by all in-house software applications.</li>
    <li>Assisted in migration of legacy system from JavaServer Faces (JSF) to AngularJS at the front end and REST at the back end.</li>
  </ul>
</md-content>
<md-divider layout-padding></md-divider>

<md-content class="experience">
  <span class="title">Android Developer at Necto-Net Contact Management Inc | Austin, TX</span><br>
  <md-button class="md-raised md-accent" ng-href="{{nectoUrl}}" target="_blank">nsquareapp.com</md-button>
  <p>March 2013 - December 2014</p>
  <p>Social Gear, formerly NSquare app, re-defines the address book by using QR Code technology. The app offers reliable and high quality contact and events management service. It is available in both iOS and Android platforms.
  </p>
  <ul>
    <li>Planned, designed and developed NSquare for Android platform.</li>
    <li>Integrate ZXing library to generate and scan QR Code.</li>
    <li>Incorporated Android's Contacts Provider to the app to allow users to migrate contacts between the app and native phone book.</li>
  </ul>
</md-content>
