<md-content class="profile">
  <p>I received my Bachelor of Science in Computer Sciences degree from The University of Texas at Austin in 2013.</p>
  <p>I am currently working for Kronos Inc as a Software Engineer focusing on Workforce Ready Suite, a cloud based workforce management and human capital management (HCM) system.</p>
  <p>Before joining Kronos Inc, I was a Software Developer at Smith &amp; Associates, an independent distributor of electronic components in Houston Texas. My primary role was to develop in-house applications such as Supply Chain Management(SCM) and Customer Relationship Management(CRM). I also worked on developing CRM mobile application using Ionic, a Hybrid Mobile App Framework that uses AngularJS.</p>
  <p>Before joining Smith &amp; Associates, I was an Android Developer for a startup company called Necto-Net Contact Management Inc. He helped build NSquare, predecessor of SocialGear that manages contacts and events by utilizing QR Code.</p>
  <p>If you would like to contact me regarding new opportunities, please feel free to contact me. Or you can view my resume for more information.</p>
</md-content>
<div class="md-actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ng-click="contentCtrl.showContactOptions($event)" aria-label="Contact Me">
    Contact Alex
    <md-tooltip>Contact Alex</md-tooltip>
  </md-button>
</div>
