<md-content class="profile">
  <p>Alex received his Bachelor of Science in Computer Sciences degree from The University of Texas at Austin in 2013. He is currency working as a Software Developer in Smith &amp; Associates, an independent distributor of electronic components in Houston Texas. His primary role is develop in-house applications such as Supply Chain Management(SCM) and Customer Relationship Management(CRM). He is actively working on developing CRM mobile application using Ionic, a Hybrid Mobile App Framework that uses AngularJS.</p>
  <p>Before joining Smith &amp; Associates, he was an Android Developer for a startup company, Necto-Net Contact Management Inc, to develop an SocialGear, formerly NSquare, that manages contacts and events by utilizing QR Code.</p>
  <p>If you would like to contact Alex regarding new opportunities, please feel free to contact him. Or you can view his resume for more information.</p>
</md-content>
<div class="md-actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ng-click="contentCtrl.showContactOptions($event)" aria-label="Contact Me">
    Contact Alex
    <md-tooltip>Contact Alex</md-tooltip>
  </md-button>
</div>