<md-content class="projects">
  <span class="title">Austin Recycling</span><br>
  <div style="display: flex">
    <a ng-href="{{austinRecyclingUrl}}" target="_blank"><img src="../assets/google_play_store.png"/></a>
    <a ng-href="{{austinRecyclingGitHubUrl}}" target="_blank"><img style="width: 128px; height: 128px" src="../assets/github.png"/></a>
  </div>
  <p>Austin Recycling helps users to find the nearest facilities that accept the materials that the users wish to recycle in Austin Area. Thanks to <a href="https://data.austintexas.gov/Environmental/Recycle-Drop-Off-Locations/qzi7-nx8g" target="_blank">City of Austin</a>, the app is using RESTful APIs to get the list of facilities that can process those items.</p>
  <p>This app started as a class project together with two other classmates. The website for the project is available <a href="http://aelx311.github.io/austin_recycling/">here</a>.</p>
  <p>A few enhancements have been made to improve the performance and usability of the app, it includes using Retrofit HTTP library, added landscape layout and dual-pane view.</p>
  <p>Future possible enhancements:</p>
  <ul>
    <li>Add recycling collection schedule.</li>
    <li>Develop iOS version</li>
  </ul>
</md-content>