<md-card>
  <md-card-content>
    <div layout="row" layout-align="center" layout-wrap layout-padding>
      <div class="skill-item" flex="20">
        <img src="../assets/angularjs.png" />
        <p>AngularJS</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/html5.png" />
        <p>HTML 5</p>
      </div>
      <div class="skill-item" flex="20">
        <img  src="../assets/css3.png" />
        <p>CSS 3</p>
      </div>
      <div class="skill-item" flex="20">
        <img  src="../assets/javascript.png" />
        <p>JavaScript</p>
      </div>
      <div class="skill-item" flex="20">
        <img  src="../assets/android.png" />
        <p>Android</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/apple.png" />
        <p>iOS</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/java.png" />
        <p>Java</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/c++.png" />
        <p>C++</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/ionic.png" />
        <p>Ionic</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/jboss.png" />
        <p>JBoss</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/postgresql.png" />
        <p>PostgreSQL</p>
      </div>
      <div class="skill-item" flex="20">
        <img src="../assets/nodejs.png" />
        <p>NodeJS</p>
      </div>
      </md-card-content>
    </md-card>