
<md-content>
  <div layout="row" layout-align="center" layout-wrap layout-margin>
    <div class="skill-item">
      <img src="../assets/angularjs.png" />
      <p>AngularJS</p>
    </div>
    <div class="skill-item">
      <img src="../assets/html5.png" />
      <p>HTML 5</p>
    </div>
    <div class="skill-item">
      <img  src="../assets/css3.png" />
      <p>CSS 3</p>
    </div>
    <div class="skill-item">
      <img  src="../assets/javascript.png" />
      <p>JavaScript</p>
    </div>
  </div>
  <div layout="row" layout-align="center" layout-wrap layout-padding>
    <div class="skill-item">
      <img  src="../assets/android.png" />
      <p>Android</p>
    </div>
    <div class="skill-item">
      <img src="../assets/apple.png" />
      <p>iOS</p>
    </div>
    <div class="skill-item">
      <img src="../assets/java.png" />
      <p>Java</p>
    </div>
    <div class="skill-item">
      <img src="../assets/c++.png" />
      <p>C++</p>
    </div>
  </div>
  <div layout="row" layout-align="center" layout-wrap layout-padding>
    <div class="skill-item">
      <img src="../assets/ionic.png" />
      <p>Ionic</p>
    </div>
    <div class="skill-item">
      <img src="../assets/jboss.png" />
      <p>JBoss</p>
    </div>
    <div class="skill-item">
      <img src="../assets/postgresql.png" />
      <p>PostgreSQL</p>
    </div>
    <div class="skill-item">
      <img src="../assets/nodejs.png" />
      <p>NodeJS</p>
    </div>
  </div>
</md-content>